@font-face {
  font-family: "Airbnb Cereal";
  src: local("Airbnb Cereal"),
    url("../public/fonts/AirbnbCerealBlack.ttf") format("truetype");
}

@font-face {
  font-family: "Airbnb Cereal";
  font-weight: bold;
  src: local("Airbnb Cereal"),
    url("../public/fonts/AirbnbCerealBold.ttf") format("truetype");
}

@font-face {
  font-family: "Airbnb Cereal";
  font-weight: bolder;
  src: local("Airbnb Cereal"),
    url("../public/fonts/AirbnbCerealExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Airbnb Cereal";
  font-weight: lighter;
  src: local("Airbnb Cereal"),
    url("../public/fonts/AirbnbCerealLight.ttf") format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Airbnb Cereal, sans-serif;
  width: 100%;
  height: 100%;
}

body > div {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 18px !important;
  height: 18px !important;
  background: transparent !important;
  margin: 15px !important;
}

.light .swiper-pagination-bullet {
  opacity: 1;
  border: 2px solid #202020;
}

.light .swiper-pagination-bullet:hover {
  opacity: 1;
  background: #202020 !important;
}

.light .swiper-pagination-bullet-active {
  background: #202020 !important;
}

.dark .swiper-pagination-bullet {
  opacity: 1;
  background: transparent !important;
  border: 2px solid #e5e5e5;
  margin: 15px !important;
}

.dark .swiper-pagination-bullet:hover {
  opacity: 1;
  background: #e5e5e5 !important;
}

.dark .swiper-pagination-bullet-active {
  background: #e5e5e5 !important;
}

.fade-in-top-down {
  opacity: 0;
  animation: fade-in-top-down 1s 1 ease-out;
  animation-fill-mode: forwards;
}

.fade-in-left-right {
  opacity: 0;
  animation: fade-in-left-right 1s 1 ease-out;
  animation-fill-mode: forwards;
}

.scale-h-up {
  animation: scale-h-up 1s 1 ease-out;
  animation-fill-mode: forwards;
}

.scale-w-up {
  animation: scale-w-up 1s 1 ease-out;
  animation-fill-mode: forwards;
}

@keyframes fade-in-top-down {
  0% {
    opacity: 0;
    transform: translate(0, -20%);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fade-in-left-right {
  0% {
    opacity: 0;
    transform: translate(-10%, 0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes scale-w-up {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes scale-h-up {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

.img-comp-container {
  position: relative;
  width: 550px;
  height: 500px;
  border-radius: 30px;
  overflow: hidden;
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
}

.img-comp-overlay {
  border-right: 3px solid #ffffff;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  width: 40px;
  height: 40px;
  background-color: #000000;
  border: 3px solid #ffffff;
  opacity: 0.7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

#img-zoomer-box {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 10px;
}

#img-1 {
  width: 100%;
  height: auto;
}

#img-zoomer-box:hover, #img-zoomer-box:active {
  cursor: zoom-in;
  display: block;
}

#img-zoomer-box:hover #img-2, #img-zoomer-box:active #img-2 {
  opacity: 1;
}

#img-2 {
  width: 340px;
  height: 340px;
  box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
  pointer-events: none;
  position: absolute;
  top: 0;
  opacity: 0;
  border: 4px solid whitesmoke;
  z-index: 99;
  border-radius: 100%;
  display: block;
  transition: opacity .2s;
}

.Hotspot {
  background: #fff;
  border-radius: 32px;
  border: 0;
  box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
  box-sizing: border-box;
  cursor: pointer;
  height: 24px;
  padding: 8px;
  position: relative;
  transition: opacity 0.3s;
  width: 24px;
}

.HotspotAnnotation {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 25%);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 18px;
  font-weight: 700;
  left: calc(100% + 1em);
  max-width: 128px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: max-content;
}
