@font-face {
  font-family: 'Airbnb Cereal';
  src: local('Airbnb Cereal'), url('../public/fonts/AirbnbCerealBlack.ttf') format('truetype');
}

@font-face {
  font-family: 'Airbnb Cereal';
  font-weight: bold; 
  src: local('Airbnb Cereal'), url('../public/fonts/AirbnbCerealBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Airbnb Cereal';
  font-weight: bolder;
  src: local('Airbnb Cereal'), url('../public/fonts/AirbnbCerealExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Airbnb Cereal';
  font-weight: lighter;
  src: local('Airbnb Cereal'), url('../public/fonts/AirbnbCerealLight.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Airbnb Cereal, sans-serif;
  width: 100%;
  height: 100%;
}

body > div {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.swiper {
  width: 100%;
  height: 100%;
}
  
.swiper-slide {
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 18px !important;
  height: 18px !important;
  background: transparent !important;
  margin: 15px !important;
}

.light .swiper-pagination-bullet {
  opacity: 1;
  border: 2px solid #202020;
}

.light .swiper-pagination-bullet:hover {
  opacity: 1;
  background: #202020 !important;
}

.light .swiper-pagination-bullet-active {
  background: #202020 !important;
}

.dark .swiper-pagination-bullet {
  opacity: 1;
  background: transparent !important;
  border: 2px solid #e5e5e5;
  margin: 15px !important;
}

.dark .swiper-pagination-bullet:hover {
  opacity: 1;
  background: #e5e5e5 !important;
}

.dark .swiper-pagination-bullet-active {
  background: #e5e5e5 !important;
}


.fade-in-top-down {
  opacity: 0;
  animation: fade-in-top-down 1s 1 ease-out;
  animation-fill-mode: forwards;
}

.fade-in-left-right {
  opacity: 0;
  animation: fade-in-left-right 1s 1 ease-out;
  animation-fill-mode: forwards;
}

.scale-h-up {
  animation: scale-h-up 1s 1 ease-out;
  animation-fill-mode: forwards;
}

.scale-w-up {
  animation: scale-w-up 1s 1 ease-out;
  animation-fill-mode: forwards;
}

@keyframes fade-in-top-down {
  0% {
    opacity: 0;
    transform: translate(0, -20%);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fade-in-left-right {
  0% {
    opacity: 0;
    transform: translate(-10%, 0);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes scale-w-up {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes scale-h-up {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}